<html>
    <head>
        <title>#MOMLIFE</title>
    </head>
    <body>
        <h1>#Momlife - <em><DER</em> Blog für eure Elternzeit!</h1>
        <h2>Die besten Cafés & Restaurants für Kind und Kegel</h2>
        <p>Hier findet ihr garantiert die besten Spots, die ihr auch mit dem Kinderwagen besuchen könnt. Kind- und Hundefreundlich muss es sein. <ul><li>Kinderfreundlich</li><li>Hundefreundlich</li><li>Platz für den Kinderwagen</li></ul>

        </p>
        <div>lklrklrk</div>
    </body>
</html>